In [1]:
#Dependices
import pandas as pd
from sqlalchemy import create_engine

## Store CVS into data frame

In [7]:
csv_file = 'NFLDRAFT20092019.csv'
NFL_data_df = pd.read_csv(csv_file)
NFL_data_df

,Draft year,Round,Pick,Team,Player,Position,College,Conference,Notes,0,Unnamed: 10
0,2009,1,1,Detroit Lions,Matthew Stafford,QB,Georgia,SEC,0,0.0,NaN
1,2009,1,2,St. Louis Rams,Jason Smith,OT,Baylor,Big 12,0,0.0,NaN
2,2009,1,3,Kansas City Chiefs,Tyson Jackson,DE,LSU,SEC,0,0.0,NaN
3,2009,1,4,Seattle Seahawks,Aaron Curry,LB,Wake Forest,ACC,0,0.0,NaN
4,2009,1,5,New York Jets,Mark Sanchez,QB,USC,Pac-10,from Cleveland[R1 - 1],0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2797,2019,7,252,Denver Broncos,Josh Furman,S,Oklahoma State,Big 12,0,NaN,NaN
2798,2019,7,253,New England Patriots,Xzavier Dickson,LB,Alabama,SEC,0,NaN,NaN
2799,2019,7,254,San Francisco 49ers,Rory Anderson,TE,South Carolina,SEC,0,NaN,NaN
2800,2019,7,255,Indianapolis Colts,Denzelle Good,OT,Mars Hill,SAC,0,NaN,NaN
2801,2019,7,256,Arizona Cardinals,Gerald Christian,TE,Louisville,ACC,Mr. Irrelevant,NaN,NaN

## Create data frame with select columns

In [8]:
NFL_data_pd.columns

Index(['Draft year', 'Round', 'Pick', 'Team', 'Player ', 'Position', 'College',
       'Conference', 'Notes', '0', 'Unnamed: 10'],
      dtype='object')

In [9]:
# We only want Draft data relating to first round and conference, so create a new table that 
#takes all the columns relating to that information 
New_NFL_data = NFL_data_df[["Draft year", "Round", "Player ", "Position",
                            "Conference"]]
New_NFL_data

      Draft year Round            Player  Position Conference
0           2009     1   Matthew Stafford       QB        SEC
1           2009     1        Jason Smith       OT     Big 12
2           2009     1      Tyson Jackson       DE        SEC
3           2009     1        Aaron Curry       LB        ACC
4           2009     1       Mark Sanchez       QB     Pac-10
...          ...   ...                ...      ...        ...
2797        2019     7       Josh Furman         S     Big 12
2798        2019     7   Xzavier Dickson        LB        SEC
2799        2019     7     Rory Anderson        TE        SEC
2800        2019     7     Denzelle Good        OT        SAC
2801        2019     7  Gerald Christian        TE        ACC

[2802 rows x 5 columns]

In [ ]:
df.set_index('month')

## Get needed info - CHANGE TITLE

In [11]:
# We only like 1st rounders, so find those that scored is = 1, 
first_round_df = NFL_data_df.loc[NFL_data_df["Round"] == str(1), [
    "Draft year", "Player ", "Position", "Conference"]]
first_round_df

      Draft year             Player  Position Conference
0           2009    Matthew Stafford       QB        SEC
1           2009         Jason Smith       OT     Big 12
2           2009       Tyson Jackson       DE        SEC
3           2009         Aaron Curry       LB        ACC
4           2009        Mark Sanchez       QB     Pac-10
...          ...                 ...      ...        ...
2573        2019    Laken Tomlinson         G        ACC
2574        2019    Phillip Dorsett        WR        ACC
2575        2019  Damarious Randall         S     Pac-12
2576        2019   Stephone Anthony        LB        ACC
2577        2019       Malcom Brown        DT     Big 12

[351 rows x 4 columns]

In [21]:
# Using GroupBy in order to separate the data into fields according to "state" values
#grouped_Conference_pd = first_round.groupby(['Conference'])
#print(grouped_Conference_pd)

# Count how many sightings have occured within each state
Conference_counts_df = first_round_df["Conference"].value_counts()
Conference_counts.head()

SEC        101
ACC         58
Big Ten     45
Pac-12      44
Big 12      43
Name: Conference, dtype: int64

In [19]:
print(Conference_counts)

SEC             101
ACC              58
Big Ten          45
Pac-12           44
Big 12           43
The American     12
Big East         10
Pac-10            9
Ind. (FBS)        9
MAC               6
MW                5
C-USA             4
WAC               3
MWC               1
MVFC              1
Name: Conference, dtype: int64